*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    --white: white;
    --light-greyish-white: hsl(225, 8%, 91%);
    --light-black: hsl(240, 2%, 11%);

}

html, body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    margin-bottom: 70px;
}

.navlink a{
    margin: 0 20px;
    color: var(--Grayish-Blue);
}

.login{
    color: var(--white) !important;
    padding: 10px 30px;
    background-color: var(--Soft-Red);
    border-radius: 5px;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.herodiv{
    width: 35%;
}

.herodiv h1{
    font-size: 50px;
}

.herodiv p{
    font-size: 20px;
    color: var(--Grayish-Blue);
    margin: 20px 0 30px;
}

.herolink-blue{
    background-color: var(--Soft-Blue);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
}

.herolink-grey{
    background-color: var(--light-greyish-white);
    color: var(--light-black);
    padding: 10px 20px;
    border-radius: 5px;
}

#features{
    text-align: center;
    padding: 30px 70px 20px; 
}

.features1, .frequent{
    width: 43%;
    margin: 20px auto;
}

.features1 h1, .frequent h1, .joined h1{
    font-size: 40px;
}

.features1 p, .frequent p, .joined p{
   font-size: 20px;
   margin: 20px 0 40px;   
}

.featureslink{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
   
    
}

#bookmark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;   
}

.bookmarkwrt{
    width: 35%;
}

.bookmarkwrt h1{
    font-size: 40px;
}

.bookmarkwrt p{
    font-size: 20px;
    margin: 20px 0 40px;
}

.bookmarklink{
    font-size: 20px;
    background-color: var(--Soft-Blue);
    padding: 10px 20px;
    border-radius: 5px;    
}

#extension{
    text-align: center;
    padding: 30px 70px 40px;
}

.extensionhead{
    width: 55%;
    margin: 20px auto;
}

.extensionhead h1{
    font-size: 40px;    
}

.extensionhead p{
    font-size: 20px;
    margin: 30px 70px;
}

.extensionlink{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    gap: 30px;
    
}

.extensionlogo{
    
    border: 10px;
    box-shadow: 5px 5px 10px var(--light-black);
    padding: 20px 0px;
    line-height: 40px;
    border-radius: 10px;
    position: relative;
    top: 10px;
    
}

.extensionlogo1{
    
    border: 10px;
    box-shadow: 5px 5px 10px var(--light-black);
    padding: 20px 0px;
    line-height: 40px;
    border-radius: 10px;
    position: relative;
    top: 40px;
    
}

.extensionlogo2{
    
    border: 10px;
    box-shadow: 5px 5px 10px var(--light-black);
    padding: 20px 0px;
    line-height: 40px;
    border-radius: 10px;
    position: relative;
    top: 70px;
    
}

.extensionimg{
    width: 40%;
}

.extensionlogo a{
    background-color: var(--Soft-Blue);
    border-radius: 5px;
    padding: 5px 10px; 
    color: var(--white);  
}

.extensionlogo1 a{
    background-color: var(--Soft-Blue);
    border-radius: 5px;
    padding: 5px 10px; 
    color: var(--white);  
}

.extensionlogo2 a{
    background-color: var(--Soft-Blue);
    border-radius: 5px;
    padding: 5px 10px; 
    color: var(--white);  
}

.extensionlogo p{
    padding: 0 0 70px;
}

#question{
    text-align: center;
    padding: 1cm 2cm 5cm; 
}

.browser{ 
    max-width: 30em;
    margin: 0 auto;
    margin-bottom: 4em;
}
.browser1{
    margin: 20px auto;
    display: flex;    
    justify-content: space-between;
}

.frequent{
    margin: 6cm auto 2cm;
}

#contact{
    text-align: center;
    padding: 30px 70px 60px;
    background-color: var(--Soft-Blue);
}

.joined{
    width: 43%;
    margin: 20px auto 50px;
    color: var(--white);
}

.joined h1{
    margin-bottom: 20px;
}

.enter{
    justify-content: space-between;
    width: 70%; 
    margin: 0 auto;  
   
}

.enter1{
    background-color: var(--white);
    color: var(--Grayish-Blue);
    border-radius: 5px;
    padding: 20px 80px 20px 20px;
    font-size: 20px;
}

.enter2{
    background-color: var(--Soft-Red);
    color: var(--white);
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 20px;
}

#bottom{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.bottomdiv{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 20px 0 0;
}

.bottomdiv img{
    background-color: var(--white);
}

.bottomdiv a{
    color: var(--white);
    justify-content: space-between;
    gap: 60px;
}

.icon a{
    padding: 0 20px;
    color: var(--white); 
    font-size: 30px;
}


